.producttitle {
  font-size: 48px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
}
.productdescription {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.productimage {
  width: 100%;
  max-width: 80px;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}
.selctedborderimage {
  border: 2px solid teal;
}
.sectionheading {
  font-size: 28px;
  margin-bottom: 8px;
}
.featureitem {
  min-width: 80px;
  background-color: gainsboro;
  border-radius: 8px;
  border: 0;
  text-align: center;
  margin-right: 12px;
  cursor: pointer;
  padding: 12px 24px;
  box-sizing: content-box;
  font-weight: 600;
}
.slectedfeatureitem {
  color: white;
  background-color: gray;
}
.primarybutton {
  color: white;
  background-color: teal;
  font-size: 20px;
  border-radius: 8px;
  border: 0;
  padding: 12px 24px;
  margin-top: 30px;
}
